body {
  background-color: #404040;
}

.site-heading > h1, hr, span{

}

.post-preview h2, h3 {
  color: #fff;
}

.post-subtitle h3, a {
  color: #fff;
}

.post-image img {
  width: 100%
}

.post-preview {
  background-color: #111;
  padding: 30px;
}

.iconContainer {
  height: 33px;
  width: 33px;
  display: inline-block;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.icon {
  height: 40px;
  width: 40px;
  margin-left: -10%;
  margin-top: -10%;
}
