body {
  background-color: #404040;
  background: #17142d url('http://i.imgur.com/VSThQxd.png') no-repeat top center;
  background-size: cover;
  background-color: fixed;
}

.intro-header {
  margin-bottom: 25px;
}

.site-heading > h1, hr, span{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.post-preview h2, h3 {
  color: #fff;
}

.post-subtitle h3, a {
  color: #fff;
}

.post-image img {
  width: 100%
}

.post-preview {
  background-color: #111;
  padding: 30px;
}

.centerMe {
  width: 100%;
  text-align: center;
}

.iconArray {
  margin-bottom: 25px;
}

.iconContainer {
  height: 33px;
  width: 33px;
  display: inline-block;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.icon {
  height: 40px;
  width: 40px;
  margin-left: -10%;
  margin-top: -10%;
}

.recruitment {
  color: #fff;
  margin-top: 0px;
}

#nextPost {
  color: #111;
}

.section-heading {
  color: #fff;
  text-align: center;
  margin-top: 25px;
}
