<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="centerMe"><h1>FAQ / History</h1></div>
      <div class="post-preview">
        <h2>Guild Information</h2>
        <p>HC is a 20M guild on Burning Legion - US. We're looking to raid competitively and finish content before content wide nerfs or the next tier.</p>

        <h2>About Us</h2>
        <ul>
          <li>We only raid Tuesday, Wednesday, and Thursday, 7-11 CST. We sometimes extend or add an extra day only if everyone is able, it is not a requirement.</li>
          <li>Our raid schedule is very tight, and what we do within our time is very limited, but if everyone can do what we ask of them, we can achieve all our goals.</li>
          <li>Our main goal is to use our time efficiently and effectively, which usually means killing all heroic content before any major nerfs(Progressive) or the tier is over. So far we have met our goal, but always strive to be more efficient.</li>
          <li>Loot is distributed by a loot council based on highest benefit to the raid. If you're here for gear you're in the wrong place. There is a 2 week trial period where you're put last on loot consideration.</li>
        </ul>

        <h2>Expectations</h2>
          <ul>
          <li>We expect you to maintain a near 100% attendance. We are understanding of situations but do expect notice unless it's an emergency.</li>
          <li>We expect you to be able to maximize your class/role. You must be self sufficient, don't expect a guide to tell you everything, you must be able figure out things for yourself. Maximization is key to being an efficient raid team. Role versatility within your class is a plus.</li>
        </ul>

        <h2>What we are NOT looking for</h2>
        <ul>
          <li>Players who are unwilling to continuously find ways to improve their output and mechanical ability. We want our players to always work on improving.</li>
          <li>If you have a negative attitude then we won't be the guild for you, we strive for our atmosphere to be light hearted yet serious at the same time, but don't need negative players</li>
        </ul>

        <h2>History</h2>
        <ul>
          <li>Hellfire Citadel: US 56th, World 233rd</li>
          <li>Blackrock Foundry: US: 103rd</li>
        </ul>
      </div>
    <br>
    </div>
  </div>
</div>
