<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="centerMe">
            <h2 class="recruitment">Recruitment</h2>
            <div class="iconArray">
              <div class="iconContainer"><img class="icon" src="/images/class/deathknight/frost.png" /></div>
              <div class="iconContainer"><img class="icon" src="/images/class/deathknight/unholy.png" /></div>
              <div class="iconContainer"><img class="icon" src="/images/class/warlock/affliction.png" /></div>
              <div class="iconContainer"><img class="icon" src="/images/class/warlock/demonology.png" /></div>
              <div class="iconContainer"><img class="icon" src="/images/class/warlock/destruction.png" /></div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
              <h2 class="post-title">
                  Mythic Archimonde!
              </h2>
              <div class="post-image"><img src="http://i.imgur.com/oqk7JEc.jpg" /></div>
              <h3 class="post-subtitle">
                <a href="https://youtu.be/MDmvZy5dC_E">Resto Shaman PoV</a><br>
                <a href="https://youtu.be/ajNanhI8L8E">Hunter PoV</a><br>
                <a href="https://youtu.be/9j4tg7LsQGw">Balance Druid PoV</a><br>
                <a href="https://youtu.be/2zgyu6mhiEM">Protection Paladin PoV</a><br>
              </h3>
              <p class="post-meta">Sensations on October 30, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
              <h2 class="post-title">
                  Mythic Mannoroth!
              </h2>
              <div class="post-image"><img src="http://i.imgur.com/yEqC7v5.jpg" /></div>
              <h3 class="post-subtitle">
                <a href="https://youtu.be/eI5_EVvOl2c">Resto Shaman PoV</a><br>
                <a href="https://youtu.be/snUDQY2nKZU">Protection Paladin PoV</a><br>
              </h3>
              <p class="post-meta">Sensations on October 09, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
              <h2 class="post-title">
                  Mythic Tyrant!
              </h2>
              <div class="post-image"><img src="http://i.imgur.com/ZosyAJi.jpg" /></div>
              <h3 class="post-subtitle">
                <a href="https://youtu.be/09CAIfFydPs">Resto Shaman PoV</a><br>
                <a href="https://youtu.be/_4WXotZRcws">Protection Paladin PoV</a><br>
                <a href="https://youtu.be/pOOfrxxC0zY">Affliction Warlock PoV</a><br>
              </h3>
              <p class="post-meta">Sensations on September 17, 2015</p>
            </div>
            <hr>
            <div class="post-preview">
              <h2 class="post-title">
                  Mythic Xhul'Horac!
              </h2>
              <div class="post-image"><img src="http://i.imgur.com/2z80Iia.jpg" /></div>
              <h3 class="post-subtitle">
                <a href="https://youtu.be/Hw86KFWTQsk">Resto Shaman PoV</a><br>
              </h3>
              <p class="post-meta">Sensations on September 04, 2015</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#" id="nextPost">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; Auro</p>
            </div>
        </div>
    </div>
</footer>
