<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="section-heading">The Final Frontier</h2>
                <div class="post-image"><img src="http://i.imgur.com/oqk7JEc.jpg" /></div>
            </div>
        </div>
    </div>
</article>
