<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="centerMe"><h1>Sales</h1></div>
      <div class="post-preview">
        <h2>Gold CMs</h2>

        <ul>
          <li>8/8 Gold CMs</li>
          <li>250k On Every Server</li>
          <li>200k On Illidan / Zul'Jin / Burning Legion / Area52 / Uldum</li>
          <li>You receive a title, mount, and unlock all the transmog weapons usable for your class</li>
          <li>We require you self-play (Just do your dps rotation, and listen on <a href="http://discordapp.com/apps">Discord</a></li>
          <li>We recommend you purchase 4 DPS Flasks / 60 DPS Pots / 5 Invis Potions</li>
          <li>Add OhBizzle#1406 for CM Sale Information</li>
        </ul>

        <h2>H Archimonde</h2>
        <ul>
          <li>100k For AOTC</li>
          <li>Burning Legion Only, Contact For Exceptions</li>
          <li>Add Sensations#1223 for H Archimonde Sales / Scheduling</li>
        </ul>

        <h2>M Blackhand Mount</h2>
          <ul>
          <li>500k For Mythic Blackhand Achievement, and Mount</li>
          <li>Burning Legion Only, Contact For Exceptions</li>
          <li>Add Sensations#1223 for M Blackhand Sales / Scheduling</li>
        </ul>

        <h2>H HFC Full Clear</h2>
        <ul>
          <li>200k For Full Clear</li>
          <li>11/13 With Master Loot</li>
          <li>2/13 (Mannoroth / Archimonde) With Personal Loot</li>
          <li>Burning Legion Only, Contact For Exceptions</li>
          <li>Add OhBizzle#1406 for H HFC Sale Information</li>
        </ul>

        <h2>M HFC</h2>
        <ul>
          <li>300k for 5/13M</li>
          <li>600k for 9/13M</li>
          <li>900k for 11/13M</li>
          <li>Full Mythic Clears and M Archi Mount are not available at this time</li>
          <li>Burning Legion Only, Contact For Exceptions</li>
          <li>Add Sensations#1223 for M HFC Sales / Scheduling</li>
        </ul>
      </div>
    <br>
    </div>
  </div>
</div>
